<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjoxvSj9u0u_DyhO61lCs3tZuoh_3gvOg</string>
	<key>GCM_SENDER_ID</key>
	<string>389746146100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProjectTask</string>
	<key>PROJECT_ID</key>
	<string>flutter-push-notificatio-33eb3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-push-notificatio-33eb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389746146100:ios:834543fe325e8bbbd28361</string>
</dict>
</plist>